body {
    background-color: rgb(36, 36, 36);
}

.center {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

#timer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 65px;
    width: 100%;
}

#start-btn {
    background-color: green;
    color: white;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

#lap-btn {
    background-color: rgb(80, 80, 80);
    color: white;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#start-btn.active {
    background-color: red;
}
